.body-font
{
	font-family: open-sans-n4, sans-serif;
}

#u3272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3294-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3298-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3374-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3378-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3399-4
{
	font-family: open-sans-n4, sans-serif;
}

#u572-4,#u573-4,#u575-4,#u576-4
{
	font-family: open-sans-n3, sans-serif;
}

#u294,#u353,#u460,#u301,#u295-4
{
	font-family: open-sans-n4, sans-serif;
}

#u459-4
{
	font-family: open-sans-n4, sans-serif;
}

#u352-4
{
	font-family: open-sans-n4, sans-serif;
}

#u302-4
{
	font-family: open-sans-n4, sans-serif;
}

#u300-2,#u313-8,#u461-18
{
	font-family: open-sans-n4, sans-serif;
}

#u3763-6,#u3766-6,#u3739-4,#u3764-6
{
	font-family: open-sans-n4, sans-serif;
}

